html, body {
    margin: 0;
    padding: 0
}
body {

}
.card {
    margin: 2% auto;
    width: 99%;
    max-width: 400px;

}

.card img {
    width: 100%;
    max-width: 400px;
}
header {
    padding: .34%;
    border: 1px solid #eee;
    text-transform: uppercase;
}
.container {
    margin-top: 2%;
}
form {
    float: right;
}
.btnSp {
    margin: 0 .5%;
}
.test {
    padding: 2%;
    margin-top: 2%;
    border: 1px solid black;
}

@media all and (max-width: 767px) and (min-width: 350px) {
    .form-control {
       
        width: 70%;
       margin-right: 2%;
    }
    form {
        width: 100%;
    }
}